.button{
    font-family: inherit;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.button:hover{
    background-color: var(--primary-color);
    color: #FFF;
    opacity: 1;
}
