.container {
    margin-top: 16px;
    color: var(--neutral-color-600);
}
.card_container {
    margin-top: 20px;
    box-shadow: -3px 8px 16px -3px #00000026;
    border-radius: 8px;
    overflow: hidden;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 1.4rem;
    padding: 0.9rem 1.6rem;
}

.content_container {
    font-size: 1.2rem;
}

.content_container p {
    padding: 1rem 1.6rem;
}

.content_container__title {
    display: flex;
    margin: 1rem 1.6rem;
    gap: 0.8rem;
}

.shape_gold {
    width: 100%;
    height: auto;
    padding: 1.6rem;
}

.shape_green {
    width: 100%;
    height: auto;
    padding: 0 1.6rem;
}

.button_container {
    display: flex;
    justify-content: left;
}

.button_container_border {
    border-bottom: 1px solid #E8E8E8;

}

.button_container button {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 2.2rem;
    border-radius: 4px;
    margin: 0 1.6rem 1.6rem;
}
