.container{
    padding: 1.6rem;
}

.filter {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.filter_modal {
    display: none;
}
@media screen and (min-width: 1024px){
    .filter_modal {
        display: block;
    }
}
