@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansWeb;
  src: url("./assets/fonts/IRANSansWeb(FaNum).woff");
}

:root {
  --primary-color: #0bab64;
  --secondary-brown-color: #d69f69;
  --secondary-blue-color: #0085ff;
  --secondary-whaite-color: #eefff8;
  --blue-100: #f7fafc;
  --neutral-color-700: #2f3542;
  --neutral-color-600: #57606f;
  --neutral-color-500: #747d8c;
  --neutral-color-400: #a4b0be;
  --neutral-color-300: #ced6e0;
  --neutral-color-200: #dfe4ea;
  --neutral-color-100: #f1f2f6;
  --error-color: #ff0000;
}
html {
  /* font-size: 62.5%; */
  font-family: IRANSansWeb, serif;
  line-height: 2;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
.Toastify__toast {
  font-family: IRANSansWeb, serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.04em;
}
.section-center {
  padding: 0 1.8rem;
}
.rct-icons-fa4 .rct-icon-expand-close::before {
  content: "\f053" !important;
}
.react-checkbox-tree ol ol {
  padding-right: 24px !important;
}
.rct-text {
  align-items: start !important;
}
.rct-checkbox {
  display: none;
}
.rct-node-icon {
  /* display: none; */
}
.rct-node-expanded {
  background-color: #eefff8 !important;
}
.rct-node-expanded .rct-title {
  color: var(--primary-color) !important;
}
.rct-node-clickable {
  width: 100%;
}
