@font-face {
    font-family: IRANSansWeb;
    src: url("./assets/fonts/IRANSansWeb(FaNum).woff");
}

:root {
    --primary-color: #0BAB64;
    --secondary-brown-color: #D69F69;
    --secondary-blue-color: #0085FF;
    --secondary-whaite-color: #EEFFF8;
    --neutral-color-700: #2F3542;
    --neutral-color-600: #57606F;
    --neutral-color-500: #747D8C;
    --neutral-color-400: #A4B0BE;
    --neutral-color-300: #CED6E0;
    --neutral-color-200: #DFE4EA;
    --neutral-color-100: #F1F2F6;
    --error-color: #FF0000;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
}

a{
    text-decoration: none;
}
